<div id="last-update" class="d-flex last-update">
    <!-- DATA DE ATUALIZAÇÃO -->
    <small>[data da atualização]</small>
    <!-- UPDATE INFO -->
    <div class="d-flex update-info">
        <!-- PAGES -->
        <div id="currentPage" class="d-flex page-info">1/1</div>
        <!-- COUNTER TIMERS -->
        <div class="d-flex align-items-center timer-container">
            <i id="hourglass" class="fas fa-hourglass-end"></i>
            <div id="timer" class="timer">00</div>
            <div>s</div>
        </div>
    </div>
</div>