/*DEFAULT WIDTH & HEIGHT DATA*/
$fullWV: 100%;
$fullWV80: $fullWV - 20%;
$fullHV: 100%;
$fullCWV: 100vw;
$fullCHV: 100vh;
/*DEFAULT FONT DATA*/
$color: rgba(0, 0, 0, 1);
$size: 0.8rem;

html{
    font-size: 16px;
}

